.crystal-image {
    width: 300px;
    height: 300px;
  }
  header {
      font-size: 40px;
      color: lightpink;
      font-style: italic;
  }
  h1 {
      font-size: 23px;
      color: darkblue;
      width:auto;
      height:auto;
      padding:10px;
      margin:5px;
  
  }
  #target {
      
      font-size: 30px;
      color: darkmagenta;

  }